// Image Handling

img {
	max-width: 100%;
	height: auto;
}

.alignright,
.alignleft,
.aligncenter,
.alignnone {
	@media only screen and (max-width : 767px) {
		width: 100% !important;
		height: auto;
		margin: 20px 20px 20px 0px;
		float: none;
	}
}

.alignleft {
	margin: 20px 50px 50px 0;
	float: left;

	&.size-large {
		// width:305px !important;
		height: auto;
	}
}

.alignright {
	margin: 20px 20px 50px 60px;
	float: right;
}

.alignnone {
	margin: 20px 0 50px;
}

.aligncenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
	clear: both;
    text-align: center;
}

.textwidget {
    .alignleft {
        margin-bottom: 20px;
    }
}

.wp-caption-text {
	margin-top: 15px;
	font-size: 15px;
	line-height: @line-height-computed / 1.3;
}

.wp-media-credit  {
	margin-left: 5px;
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
}

// Image gallery hide caption

.gallery-item .wp-caption-text {
	display: none;
}

// Attachment page (image page)

.attachment .uams-image-content {
	text-align: center;

	img {
		padding: 90px 0 50px 0;
	}
}

// Overlay

.uams-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	background-color: rgba(255,255,255,.95);
	cursor: pointer;

	@media only screen and (min-width: 1024px) {
		cursor: -webkit-zoom-out;
	}

	div.wrapper {
		position:absolute;
		top: 50%;
		left : 50%;

		p {
			margin-top: 15px;
			font-size: 15px;
			line-height: 22px;
		}

		img {
			border: 1px solid #ECECEC;
		}
	}
}

.logged-in img[alt=""],
.logged-in img:not([alt]) {
	border: 5px dashed #c00;
}