@font-face {
    font-family: 'Reddie Icons';
    src: url('reddieicons.eot?#iefix') format('embedded-opentype'),
         url('reddieicons.woff') format('woff'),
         url('reddieicons.ttf') format('truetype'),
         url('reddieicons.svg#reddieicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="i-"], [class*=" i-"] {
    font-family: "Reddie Icons";
    font-size: 50px
}


.i-Ambulance:before { content: '\e000'; }
.i-Blood-Drop:before { content: '\e001'; }
.i-Brain:before { content: '\e002'; }
.i-DNA:before { content: '\e003'; }
.i-Donate-Blood:before { content: '\e004'; }
.i-Heart-Beat:before { content: '\e005'; }
.i-Heart:before { content: '\e006'; }
.i-Hospital-1:before { content: '\e007'; }
.i-Hospital-Bed:before { content: '\e008'; }
.i-Infuzion:before { content: '\e009'; }
.i-Kidneys:before { content: '\e00a'; }
.i-Liver:before { content: '\e00b'; }
.i-Lungs:before { content: '\e00c'; }
.i-Medical-Bag:before { content: '\e00d'; }
.i-Medical-Symbol:before { content: '\e00e'; }
.i-Medicine-Mixing:before { content: '\e00f'; }
.i-Medicine:before { content: '\e010'; }
.i-Pharmaceutical-Symbol:before { content: '\e011'; }
.i-Pills:before { content: '\e012'; }
.i-Skull:before { content: '\e013'; }
.i-Stetoscope:before { content: '\e014'; }
.i-Stomach:before { content: '\e015'; }
.i-Syringe:before { content: '\e016'; }
.i-Tooth:before { content: '\e017'; }
.i-Weight-Libra:before { content: '\e018'; }
.i-Wheel-Chair:before { content: '\e019'; }
.i-Addvertise:before { content: '\e01a'; }
.i-Bank-2:before { content: '\e01b'; }
.i-Calculator-1:before { content: '\e01c'; }
.i-Contact-Info:before { content: '\e01d'; }
.i-Globe-1:before { content: '\e01e'; }
.i-Handshake:before { content: '\e01f'; }
.i-Networking-1:before { content: '\e020'; }
.i-Networking-2:before { content: '\e021'; }
.i-Search-Job:before { content: '\e022'; }
.i-Dumper-Truck:before { content: '\e023'; }
.i-Excavator-2:before { content: '\e024'; }
.i-Nuclear-Symbol:before { content: '\e025'; }
.i-At-Symbol:before { content: '\e026'; }
.i-Eatrh-Support:before { content: '\e027'; }
.i-Business-Man:before { content: '\e028'; }
.i-Business-Woman:before { content: '\e029'; }
.i-Darth-Vader:before { content: '\e02a'; }
.i-Dispacher-1:before { content: '\e02b'; }
.i-Dispacher-2:before { content: '\e02c'; }
.i-Female-1:before { content: '\e02d'; }
.i-Male-1:before { content: '\e02e'; }
.i-Medic:before { content: '\e02f'; }
.i-Nurse:before { content: '\e030'; }
.i-Police:before { content: '\e031'; }
.i-Student:before { content: '\e032'; }
.i-Waiter:before { content: '\e033'; }
.i-Waitress:before { content: '\e034'; }
.i-Bike:before { content: '\e035'; }
.i-Medal-3:before { content: '\e036'; }
.i-Play:before { content: '\e037'; }
.i-Favorite:before { content: '\e038'; }
.i-Alambic:before { content: '\e039'; }
.i-Analogue-Antenna:before { content: '\e03a'; }
.i-Arc-Phisics:before { content: '\e03b'; }
.i-Atom:before { content: '\e03c'; }
.i-Atomic-Reactor:before { content: '\e03d'; }
.i-Bacteria-1:before { content: '\e03e'; }
.i-Bacteria-4:before { content: '\e03f'; }
.i-Binocular:before { content: '\e040'; }
.i-Biohazzard:before { content: '\e041'; }
.i-Cronometer:before { content: '\e042'; }
.i-Flusk-Holder:before { content: '\e043'; }
.i-Lifting-Phisics:before { content: '\e044'; }
.i-Magnet:before { content: '\e045'; }
.i-Magnetic-Field:before { content: '\e046'; }
.i-Microscope:before { content: '\e047'; }
.i-Molecule-1:before { content: '\e048'; }
.i-Molecule-2:before { content: '\e049'; }
.i-Multimeter:before { content: '\e04a'; }
.i-Mushroom-Cloud:before { content: '\e04b'; }
.i-Newtons-Cradle:before { content: '\e04c'; }
.i-Nuclear-Symbol:before { content: '\e04d'; }
.i-Observatory:before { content: '\e04e'; }
.i-Parabolic-Antena:before { content: '\e04f'; }
.i-Planet:before { content: '\e050'; }
.i-Pulley-Phisics:before { content: '\e051'; }
.i-Relativity:before { content: '\e052'; }
.i-Rocket:before { content: '\e053'; }
.i-Satellite:before { content: '\e054'; }
.i-Sextant:before { content: '\e055'; }
.i-Solar-System:before { content: '\e056'; }
.i-Sputnic:before { content: '\e057'; }
.i-Tape-Meter:before { content: '\e058'; }
.i-Telescope:before { content: '\e059'; }
.i-Tempometer:before { content: '\e05a'; }
.i-Termometer:before { content: '\e05b'; }
.i-Test-Flusk-1:before { content: '\e05c'; }
.i-Test-Flusk-2:before { content: '\e05d'; }
.i-Test-Tube:before { content: '\e05e'; }
.i-Virus-1:before { content: '\e05f'; }
.i-Virus-2:before { content: '\e060'; }
.i-Minion-1:before { content: '\e061'; }
.i-Minion-2:before { content: '\e062'; }
.i-Add-Location:before { content: '\e063'; }
.i-Clear-Location:before { content: '\e064'; }
.i-Compas-Rose:before { content: '\e065'; }
.i-Compass-1:before { content: '\e066'; }
.i-Compass-2:before { content: '\e067'; }
.i-Directions:before { content: '\e068'; }
.i-Distance-1:before { content: '\e069'; }
.i-Distance-2:before { content: '\e06a'; }
.i-Done-Location:before { content: '\e06b'; }
.i-Favorit-Location:before { content: '\e06c'; }
.i-Global-Position:before { content: '\e06d'; }
.i-Globe:before { content: '\e06e'; }
.i-Gps-Fixed:before { content: '\e06f'; }
.i-Gps-Not-Fixed:before { content: '\e070'; }
.i-Gps-Off:before { content: '\e071'; }
.i-Home-Location:before { content: '\e072'; }
.i-Info-Point:before { content: '\e073'; }
.i-Local-Airport:before { content: '\e074'; }
.i-Local-Bank:before { content: '\e075'; }
.i-Local-Gas-Station:before { content: '\e076'; }
.i-Local-Hospital:before { content: '\e077'; }
.i-Local-Library:before { content: '\e078'; }
.i-Local-Monument:before { content: '\e079'; }
.i-Local-Parking:before { content: '\e07a'; }
.i-Local-Port:before { content: '\e07b'; }
.i-Local-Pub:before { content: '\e07c'; }
.i-Local-Restaurant:before { content: '\e07d'; }
.i-Local-Transport:before { content: '\e07e'; }
.i-Location-1:before { content: '\e07f'; }
.i-Location-3:before { content: '\e080'; }
.i-Location-4:before { content: '\e081'; }
.i-Location-A:before { content: '\e082'; }
.i-Location-B:before { content: '\e083'; }
.i-Locatoin-2:before { content: '\e084'; }
.i-Locl-Shop:before { content: '\e085'; }
.i-Map-1:before { content: '\e086'; }
.i-Map-2:before { content: '\e087'; }
.i-Map-3:before { content: '\e088'; }
.i-Map-Pin-1:before { content: '\e089'; }
.i-Map-Pin-2:before { content: '\e08a'; }
.i-Map-Pin-3:before { content: '\e08b'; }
.i-Map-Pin-4:before { content: '\e08c'; }
.i-Map-pin-5:before { content: '\e08d'; }
.i-Map-pin-6:before { content: '\e08e'; }
.i-Map-Screen:before { content: '\e08f'; }
.i-Mobile-Map:before { content: '\e090'; }
.i-Navigation-1:before { content: '\e091'; }
.i-Navigation-2:before { content: '\e092'; }
.i-Remouve-Location:before { content: '\e093'; }
.i-Street-View:before { content: '\e094'; }
.i-Chat-2:before { content: '\e095'; }
.i-Chat-3:before { content: '\e096'; }
.i-Paper-Clip-2:before { content: '\e097'; }
.i-Pin:before { content: '\e098'; }
.i-Postit:before { content: '\e099'; }
.i-Facebook-1:before { content: '\e09a'; }
.i-Flickr:before { content: '\e09b'; }
.i-Instagram:before { content: '\e09c'; }
.i-Linkedin:before { content: '\e09d'; }
.i-Pinterest:before { content: '\e09e'; }
.i-Skype:before { content: '\e09f'; }
.i-Twitter-1:before { content: '\e0a0'; }
.i-Vimeo:before { content: '\e0a1'; }
.i-Youtube-1:before { content: '\e0a2'; }
.i-Youtube-2:before { content: '\e0a3'; }
.i-Android:before { content: '\e0a4'; }
.i-Apple:before { content: '\e0a5'; }
.i-Chrome:before { content: '\e0a6'; }
.i-Excel:before { content: '\e0a7'; }
.i-Powerpoint:before { content: '\e0a8'; }
.i-Word:before { content: '\e0a9'; }
.i-Celsius:before { content: '\e0aa'; }
.i-Cloud:before { content: '\e0ab'; }
.i-Cloudy-Day:before { content: '\e0ac'; }
.i-Cloudy-Fog:before { content: '\e0ad'; }
.i-Cloudy-Night:before { content: '\e0ae'; }
.i-Cloudy:before { content: '\e0af'; }
.i-Fahrenheit:before { content: '\e0b0'; }
.i-Fog-day:before { content: '\e0b1'; }
.i-Fog-Night:before { content: '\e0b2'; }
.i-Fog:before { content: '\e0b3'; }
.i-Full-Moon:before { content: '\e0b4'; }
.i-Hailstorm-Day:before { content: '\e0b5'; }
.i-Hailstorm-Night:before { content: '\e0b6'; }
.i-Hailstorm:before { content: '\e0b7'; }
.i-Lightning-day:before { content: '\e0b8'; }
.i-Lightning-night:before { content: '\e0b9'; }
.i-Lightning:before { content: '\e0ba'; }
.i-Moon-2:before { content: '\e0bb'; }
.i-Moon-3:before { content: '\e0bc'; }
.i-Negative-Temperature:before { content: '\e0bd'; }
.i-Pozitive-Temperature:before { content: '\e0be'; }
.i-Rain-Day:before { content: '\e0bf'; }
.i-Rain-Night:before { content: '\e0c0'; }
.i-Rain-Storm:before { content: '\e0c1'; }
.i-Raining:before { content: '\e0c2'; }
.i-Snow-Day:before { content: '\e0c3'; }
.i-Snow-Night:before { content: '\e0c4'; }
.i-Snow-Rain-Day:before { content: '\e0c5'; }
.i-Snow-Rain-Night:before { content: '\e0c6'; }
.i-Snow-Rain:before { content: '\e0c7'; }
.i-Snow:before { content: '\e0c8'; }
.i-Snowing:before { content: '\e0c9'; }
.i-Star-Night:before { content: '\e0ca'; }
.i-Storm-day:before { content: '\e0cb'; }
.i-Storm-night:before { content: '\e0cc'; }
.i-Sun:before { content: '\e0cd'; }
.i-Temperatur-night:before { content: '\e0ce'; }
.i-Temperature-Day:before { content: '\e0cf'; }
.i-Termometer:before { content: '\e0d0'; }
.i-Thunder-Storm-Day:before { content: '\e0d1'; }
.i-Thunder-Storm-Night:before { content: '\e0d2'; }
.i-Thunderstorm:before { content: '\e0d3'; }
.i-Tornado:before { content: '\e0d4'; }
.i-Wind:before { content: '\e0d5'; }
.i-Winter-Temperature:before { content: '\e0d6'; }
.i-1-Hour:before { content: '\e0d7'; }
.i-15-Min:before { content: '\e0d8'; }
.i-30-Min:before { content: '\e0d9'; }
.i-45-Min:before { content: '\e0da'; }
.i-Alarm-Clock-1:before { content: '\e0db'; }
.i-Alarm-Clock-2:before { content: '\e0dc'; }
.i-Alarm-Clock-3:before { content: '\e0dd'; }
.i-Alarm-Sound:before { content: '\e0de'; }
.i-Calendar-Clock:before { content: '\e0df'; }
.i-Calendar:before { content: '\e0e0'; }
.i-Clock-1:before { content: '\e0e1'; }
.i-Clock-2:before { content: '\e0e2'; }
.i-Digital-Alarm-Clock:before { content: '\e0e3'; }
.i-Old-Clock:before { content: '\e0e4'; }
.i-Sand-Clock:before { content: '\e0e5'; }
.i-Snooze:before { content: '\e0e6'; }
.i-Sound-Off:before { content: '\e0e7'; }
.i-Stop-Watch-1:before { content: '\e0e8'; }
.i-Stop-Watch-2:before { content: '\e0e9'; }
.i-Timer-Egg:before { content: '\e0ea'; }
.i-Update-Time:before { content: '\e0eb'; }
.i-Wach-4:before { content: '\e0ec'; }
.i-Watch-1:before { content: '\e0ed'; }
.i-Watch-2:before { content: '\e0ee'; }
.i-Watch-3:before { content: '\e0ef'; }
.i-Car-3:before { content: '\e0f0'; }
.i-Bus-1:before { content: '\e0f1'; }
.i-Motorcycle:before { content: '\e0f2'; }
.i-Office-Building:before { content: '\e0f3'; }
.i-Sale-Hanger:before { content: '\e0f4'; }
.i-Like:before { content: '\e0f5'; }
.i-Victory:before { content: '\e0f6'; }
.i-Vote-3:before { content: '\e0f7'; }
.i-Camera:before { content: '\e0f8'; }
.i-Map:before { content: '\e0f9'; }
.i-Bank-2:before { content: '\e0fa'; }
.i-Hospital:before { content: '\e0fb'; }
.i-Hotel-1:before { content: '\e0fc'; }
.i-Hotel-2:before { content: '\e0fd'; }
.i-Hotel-3:before { content: '\e0fe'; }
.i-Hotel-4:before { content: '\e0ff'; }
.i-House-1:before { content: '\e100'; }
.i-House-2:before { content: '\e101'; }
.i-House-3:before { content: '\e102'; }
.i-House-4:before { content: '\e103'; }
.i-House-5:before { content: '\e104'; }
.i-House-6:before { content: '\e105'; }
.i-House-7:before { content: '\e106'; }
.i-House-8:before { content: '\e107'; }
.i-House-9:before { content: '\e108'; }
.i-Office-1:before { content: '\e109'; }
.i-Office-2:before { content: '\e10a'; }
.i-Office-3:before { content: '\e10b'; }
.i-Office-4:before { content: '\e10c'; }
.i-Office-5:before { content: '\e10d'; }
.i-Office-6:before { content: '\e10e'; }
.i-Pantheon:before { content: '\e10f'; }
.i-Police:before { content: '\e110'; }
.i-Stadium:before { content: '\e111'; }
.i-White-House:before { content: '\e112'; }
.i-Disabled-man:before { content: '\e113'; }
.i-First-ad:before { content: '\e114'; }
.i-Hand-washing:before { content: '\e115'; }
.i-Hot-drink:before { content: '\e116'; }
.i-Nuclear:before { content: '\e117'; }
.i-No-smoking:before { content: '\e118'; }
.i-Telephone:before { content: '\e119'; }
.i-Male-and-Female-1:before { content: '\e11a'; }
.i-Male-and-Female-2:before { content: '\e11b'; }
.i-Male-Circle-1:before { content: '\e11c'; }
.i-Male-Circle-2:before { content: '\e11d'; }
.i-Male-Group-1:before { content: '\e11e'; }
.i-Male-Group-2:before { content: '\e11f'; }
.i-Name-Plate-Female-1:before { content: '\e120'; }
.i-Name-Plate-Female-2:before { content: '\e121'; }
.i-Name-Plate-Female-3:before { content: '\e122'; }
.i-Name-Plate-Male-1:before { content: '\e123'; }
.i-Name-Plate-Male-2:before { content: '\e124'; }
.i-Name-Plate-Male-3:before { content: '\e125'; }
.i-Portrait-Frame:before { content: '\e126'; }





